html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color:grey  ;
}
/* Estilo global para o container principal */
.container {
    height: 100vh; /* Altura total da tela */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Espaça o body e o footer */
    background-image: url('../../assets/teste.jpg'); /* Caminho da imagem de fundo */
    background-size: cover; /* Faz a imagem preencher o container */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Não repete a imagem */
  }
  
  

  