
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Evita rolagem horizontal indesejada */
    font-family: 'Poppins', sans-serif;
}
.container-page {
    background-color: #E8E8E8; /* Fundo escuro semi-transparente */
    color: white; /* Texto branco */
    text-align: center; /* Centraliza o texto */
    padding: 15px; /* Espaçamento interno */
    position: fixed; /* Fixa no final da tela */
    bottom: 0; /* Alinha na parte inferior */
    left: 0;
    width: 100%; /* Largura total da tela */
    display: flex;
    height: 90px;
    font-family: 'Poppins', sans-serif;
    justify-content: space-between;
    padding: 0 5rem 0 5rem;
}
.section-1{
    display: flex;
    align-items: center;
    justify-content: center;
}   
.content-1{
    display: flex;
}
.logo-content-1{
    display: flex;
    padding: 0 10px 0 0;
}
.container-content-1{
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 100%;
}
.container-title{
    margin: 0;
    padding: 0;
    color: #ff8142;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 0 10px 0;
}
.p-title{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: gray;
}
.idea-logo{
    height: auto;
    flex-shrink: 0;
    width: 50px;
    fill: #ff8142;
}
.section-2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-2{
    display: flex;
}
.section-3{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-content-2{
    display: flex;
    padding: 0 10px 0 0;
}
.container-content-2{
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 100%;
}
.container-title-2{
    margin: 0;
    padding: 0;
    color: #ff8142;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 0 10px 0;
}
.p-title-2{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: gray;
}
.content-3{
    display: flex;
}
.logo-content-3{
    display: flex;
    padding: 0 10px 0 0;
}
.container-content-3{
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 100%;
}
.container-title-3{
    margin: 0;
    padding: 0;
    color: #ff8142;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 0 10px 0;
}
.p-title-3{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: gray;
}
@media (min-width:320px) and (max-width:479px){
  .container-page{
    display: none;
  }
}
@media (min-width:768px) and (max-width:1023px){
   .container-page{
    display: none;
   }
}




  